redirects: on
framework: net45, netstandard2.0, netcoreapp2.1
source https://api.nuget.org/v3/index.json

nuget FSharp.Core

# Test/assertion frameworks
nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget xunit ~> 2 # there are v1 examples but most integrations use v2
nuget xunit.runner.visualstudio ~> 2 version_in_path: false
nuget Unquote

# Example container to illustrate integration
nuget Autofac

clitool dotnet-fake

group FakeBuild
    framework: netstandard2.0
    source https://api.nuget.org/v3/index.json
	storage: none

	nuget NUnit.ConsoleRunner
	nuget xunit.runner.console
	nuget Fake.Core.Target
	nuget Fake.IO.FileSystem
	nuget Fake.DotNet.Cli
	nuget Fake.Tools.Git
	nuget Fake.DotNet.MSBuild
	nuget Fake.Core.ReleaseNotes 
	nuget Fake.DotNet.AssemblyInfoFile
	nuget Fake.DotNet.Paket
	nuget Fake.DotNet.Testing.XUnit2
	nuget Fake.DotNet.Testing.NUnit
	nuget Fake.Api.GitHub