redirects: on
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FSharp.Core

# Test/assertion frameworks
nuget NUnit ~> 2.0 # pinned to 2.x to match README instruction wrt v2 Test Adapter for now
nuget xunit ~> 2 # there are v1 examples but most integrations use v2
nuget xunit.runner.visualstudio ~> 2 version_in_path: false
nuget Unquote

# Example container to illustrate integration
nuget Autofac

group build
    framework: auto-detect
    source https://nuget.org/api/v2
    nuget FAKE
    nuget Paket.Core
    nuget NUnit.ConsoleRunner
    nuget NUnit.Extension.NUnitV2Driver
    nuget NUnit.Extension.NUnitV2ResultWriter
    nuget xunit.runner.console