redirects: on
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FSharp.Core

# Test/assertion frameworks
nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget xunit ~> 2 # there are v1 examples but most integrations use v2
nuget xunit.runner.visualstudio ~> 2 version_in_path: false
nuget Unquote

# Example container to illustrate integration
nuget Autofac

group build
    framework: auto-detect
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core
	nuget Fake.DotNet.Testing.XUnit2
	nuget Fake.DotNet.Testing.NUnit
	nuget NUnit.ConsoleRunner
	nuget xunit.runner.console