name: Build and Test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  build:

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        dotnet: [9.0.x]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Build & Tests
      run: dotnet run --project ./fake-build/Build.fsproj -- -t Test
      env:
        BUILD_NUMBER: ${{github.run_number}}
    - name: Upload NuGet Packages
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: nuget
        path: packed_nugets/*.*
